#js-output {
  width: 100%;
}

.notifications {
  display: flex;
  width: 100%;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
  color: $white;
  text-align: center;

  &.alert {
    background-color: $alert-color;
  }

  &.success {
    background-color: $success-color;
  }

  p {
    margin: 10px 0;
  }

}

.notie {
  background-color: red;
  border-radius: 999px;
  color: $white;
  font-size: 0.75rem;
  padding: 2px 6px;
  margin-left: 5px;
}
